<div>
  <h1>LiveCycleHooks</h1>
  <p>home works!</p>


  <div>
    <button>
      <a routerLink="/client.board.page"> Alle Klienten </a>
    </button>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button>
    <a routerLink="/dashboard">Zur Dashboard-Seite</a>
  </button>
  <br />
  <br />
  <hr />
  <app-form></app-form>
  <div>
    <div>
      <button>
        <a routerLink="/edmonton-oilers">Zur Edmonten Oilers</a>
      </button>
    </div>
    <br />
    <div>
      <button>
        <a routerLink="/toronto-maple-leafs">Zur Toronto Maple Leafs</a>
      </button>
    </div>
    <br />
    <div>
      <button>
        <a routerLink="/tampa-bay-lightning">Zur Tampa Bay Lightning</a>
      </button>
    </div>
  </div>
</div>
